@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,300;0,400;0,800;1,400&display=swap');

* {
 margin: 0%;
}

html,
body {
 height: 100%;
 /* background-color: bisque; */
 font-family: 'Jost', sans-serif;
}

.app {
 display: flex;
 flex-direction: column;
 min-height: 100vh;
}

main {
 flex: 1;
}