.navbar {
 height: 100px;
 width: 100%;
 background-color: #ffffff;
 /* Set your desired background color */
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding: 0 20px;
 box-sizing: border-box;
}

.logoContainer {
 display: flex;
 align-items: center;
}

.logo {
 height: 80px;
 width: 80px;
 /* Adjust the height as needed */
 margin-right: 10px;
 /* Add spacing between logos */
}



.verticalLine {
 width: 1px;
 height: 40px;
 /* Adjust the height to match the logos */
 background-color: #000;
 /* Set your desired vertical line color */
 margin: 0 10px;
 /* Add spacing around the vertical line */
}

.navLinks {
 display: flex;
}

.navLinks a {
 color: #37085C;
 text-decoration: none;
 margin-right: 20px;
 /* Add spacing between navigation links */
}

.navLinks a:hover {
 color: #37085C;
 text-decoration: underline;
}